[mysqld]
# Mainly to support Samvirke
innodb_log_file_size=201326592

# Drupal can easily have 300+ tables, and adding all of innodbs other files
# we'll need a bit more files than the default 400.
innodb_open_files=800
table_open_cache = 600

# Innodb tunings
query_cache_type = 1
query_cache_limit = 256K
query_cache_min_res_unit = 2k
query_cache_size = 80M
innodb_buffer_pool_instances = 1
innodb_buffer_pool_size=800M

max_allowed_packet = 16M
max_connections=500

# Mysqltuner adviced tweaks
query_cache_size = 0
query_cache_type = 0
query_cache_limit = 512K
join_buffer_size = 512K
key_buffer_size = 512M
max_heap_table_size=24M

# Combatting locks and timeouts
innodb_lock_wait_timeout = 50
wait_timeout = 600
transaction-isolation = READ-COMMITTED
